body {
    font-family: Arial, sans-serif;
    background: linear-gradient(to right, #bfb5a7, #eed5c3);
    color: #ffffff;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

form {
    background: rgba(255, 255, 255, 0.1);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    width: 90%;
    max-width: 800px;
}

label {
    display: block;
    margin-bottom: 5px;
    color: #ffffff;
}

input[type="text"], input[type="date"] {
    width: calc(100% - 20px);
    padding: 10px;
    border-radius: 5px;
    border: none;
    outline: none;
    margin-bottom: 10px;
}

input[type="submit"] {
    background: linear-gradient(to right, #ff7e5f, #feb47b);
    border: none;
    border-radius: 5px;
    padding: 10px;
    color: #ffffff;
    cursor: pointer;

    width: 100%;
}

input[type="submit"]:hover {
    background: linear-gradient(to right, #feb47b, #ff7e5f);
}

button {
    background: linear-gradient(to right, #42e695, #3bb2b8);
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    color: #ffffff;
    cursor: pointer;
  
}

button:hover {
    background: linear-gradient(to right, #3bb2b8, #42e695);
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th, td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

th {
    background: linear-gradient(to right, #ff512f, #dd2476);
    color: #ffffff;
}

tr:nth-child(even) {
    background-color: rgba(255, 255, 255, 0.1);
}

tr:hover {
    background-color: rgba(255, 255, 255, 0.2);
}

@media (max-width: 600px) {
    form, table {
        width: 100%;
    }

    input[type="text"], input[type="date"], input[type="submit"] {
        width: 100%;
    }
}
